<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mapa de Vinotecas</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
	<!--inicio encabezado-->
  <div class="contenedor-padre">
     <header class="contenedor-padre--header">
     <!--logo-->
         <div>
             <img class="logo" src="../assets/img/copa-blancoyuva.png" alt="logo">
         </div>
     <!--cierre logo--> 
     <!--inicio nav-->
         <nav>
         	<ul class="nav">
     	 	    <li class="nav__item"><a href="../index.html" class="nav__item--color">INICIO</a></li>
     	 	    <li class="nav__item"><a href="eventos.html" class="nav__item--color">EVENTOS</a></li>
     	 	    <li class="nav__item"><a href="#" class="nav__item--color">MAPA DE VINOTECAS<a/></li>
     	 	    <li class="nav__item"><a href="sobre nosotros.html" class="nav__item--color">SOBRE NOSOTROS</a></li>
                <li class="nav__item"><a href="contacto.html" class="nav__item--color">CONTACTO<a/></li>
             </ul>
         </nav>
     <!--cierre nav-->
     </header> 
    <!--cierre encabezado-->
    <!--inicio contenido-->
    <main class="contenedor-padre--main">
     <div>
    	<h1>Mapa de Vinotecas según tu zona</h1>
    	<h3 class="main__encabezado main__encabezado--color main__encabezado--fuente">Las mas recomendadas</h3>
    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26268.079356278857!2d-58.45028986419207!3d-34.6165521645735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca0e1cec7083%3A0x95bff2c78df359ad!2sVinoteca%20Rinc%C3%B3n%20Vino!5e0!3m2!1ses-419!2sar!4v1643266226029!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>"></a>
    </div>
    </main>
    <!--cierre contenido-->
    <!--inicio footer-->
      <footer class="contenedor-padre--footer">
        <!--logo-->
       <div>
        <img class="logo" src="../assets/img/copa-blancoyuva.png" alt="logo"> 
        </div>
        <!--redes sociales-->
         <div class="redes-sociales">
            <img src="../assets/img/instagram.png" alt="instagram" class="footer__logoinstagram">
            <img src="../assets/img/facebook.png" alt="facebook" class="footer__logofacebook">
         </div>
     </footer>
 </div>
</body>
</html>