<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sobre Nosotros</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
	<!--inicio encabezado-->
 <div class="contenedor-padre">
     <header class="contenedor-padre--header">
     <!--logo-->
         <div>
             <img class="logo" src="../assets/img/copa-blancoyuva.png" alt="logo">
         </div>
     <!--cierre logo--> 
     <!--inicio nav-->
         <nav>
         	<ul class="nav">
     	 	    <li class="nav__item"><a href="../index.html" class="nav__item--color">INICIO</a></li>
                <li class="nav__item"><a href="../views/eventos.html" class="nav__item--color">EVENTOS</a></li>
                <li class="nav__item"><a href="../views/mapa de vinotecas.html" class="nav__item--color">MAPA DE VINOTECAS<a/></li>
                <li class="nav__item"><a href="#" class="nav__item--color">SOBRE NOSOTROS</a></li>
                <li class="nav__item"><a href="../views/contacto.html" class="nav__item--color">CONTACTO<a/></li>
             </ul>
         </nav>
     <!--cierre nav-->
     </header> 
    <!--cierre encabezado-->
    <!--inicio contenido-->
    <main class="contenedor-padre--main">
      <section class="sobreNosotros">
         <div class="imagen">
            <img class="main__logo__sobreNosotros" src="../assets/img/que_es_envinar.png">
          </div>
         <article class="texto">
    	    <h1 class="main__encabezado__sobreNosotros main__encabezado__sobreNosotros--color main__encabezado__sobreNosotros--fuente">¿QUÉ ES ENVINAR?</h1>
    	<h3 class="main__titulo main__titulo--color main__titulo--fuente">ENVINAR PERMITE QUE TODOS DISFRUTEN DEL VINO AL MÁXIMO</h3>
    	<p class="main__descripcion main__descripcion--color main__descripcion--fuente main__descripcion--aling">Pretendemos otorgarle al usuario la posibilidad de encontrar vinos boutique<br>
        y proyectos independientes de reconocidos enólogos Argentinos.<br>
            <br>
            Nuestra principal atracción es el Mapa de Vinotecas para conocer en tu barrio el lugar ideal.<br>
            <br>
            Además, contamos con un buscador donde podrás encontrar las reseñas de los <br>
            diversos usuarios sobre sus consumos y recomendaciones para que <br>
            sepas todo a la hora de elegir un vino.<br>
            <br>
            Y eso no es todo... también poseemos un calendario de eventos, donde<br> podrás reservar tu lugar para catas, degustaciones y/o charlas.</p>
        <h2 class="main__cierreParrafo main__cierreParrafo--color main__cierreParrafo--fuente">Bienvendxs</h2>
     </article>
   </section>
    </main>
    <!--inicio footer-->
     <footer class="contenedor-padre--footer">
     	<!--logo-->
        <div>
     	<img class="logo" src="../assets/img/copa-blancoyuva.png" alt="logo">
        </div>
        <!--redes sociales-->
         <div class="redes-sociales">
            <img src="../assets/img/instagram.png" alt="instagram" class="footer__logoinstagram">
            <img src="../assets/img/facebook.png" alt="facebook" class="footer__logofacebook">
         </div>
     </footer>
     <!--cierre footer-->
  </div>
</body>
</html>